.idea-vote-result .status-color {
    font-size: 12px !important;
    font-weight: bold !important;
}
.idea-vote-result .feed-post-item a,
.idea-vote-result .feed-post-item p {
    float: left;
}
.idea-vote-result .feed-post-item p {
    margin: 0 0 0 15px;
    padding: 0;
}